*.[oa]
*.l[oa]
*~
.svn/
.DS_Store
*vcproj
.cdt*
.cproject
.project
.settings
.cvsignore
moses-cmd/
moses-chart/
moses-chart-cmd/
regression-testing/
hypergraph-prototype/
lmserver/
m4/
report/
reranking/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
misc/java-utils/
misc/pmoses/
misc/processLexicalTable
misc/processPhraseTable
mert/
zmert/
server/
sigtest-filter/
web/
*.deps/
*.libs/
moses-cmd/src/.deps/
moses-cmd/src/Makefile
moses-cmd/src/Makefile.in
moses-cmd/src/moses
moses/src/.deps/
moses/src/Makefile
moses/src/Makefile.in
scripts/analysis/
scripts/ems/
scripts/other/
scripts/generic/
scripts/recaser/
scripts/tests/
scripts/tokenizer/
scripts/training/cmert-0.5/
scripts/training/mbr/mbr
scripts/training/phrase-extract/extract
scripts/training/phrase-extract/score
scripts/training/symal/symal
stamp-h1
build
usr
mbr
memscore
extract-ghkm
wrappers
moses.xcodeproj
CreateOnDisk/